@import 'tailwindcss';

@layer base {
  body {
    font-family:
      'Inter',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      sans-serif;
  }
}
